.customScroll {
  max-height: 85svh;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #e11d48 #f0f0f0;
  -webkit-overflow-scrolling: touch; /* iOS smooth scroll */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Chrome, Edge, Safari */
.customScroll::-webkit-scrollbar {
  width: 8px;
}

.customScroll::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* Hide scroll buttons in WebKit (not always needed) */
.customScroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
