.customScroll {
  scrollbar-width: thin;
  scrollbar-color: #e11d48 #f0f0f0;
  overflow-y: auto;
  max-height: 90svh;
}
.customScroll:hover {
  scrollbar-color: #be123c #f0f0f0;
}
.customScroll::-webkit-scrollbar {
  width: 8px;
  background: #f0f0f0;
}
.customScroll::-webkit-scrollbar-track {
  background: #f0f0f0;
}
.customScroll::-webkit-scrollbar-thumb {
  background-color: #e11d48;
  border-radius: 4px;
}
.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #be123c;
}
.customScroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
.customScroll {
  -ms-overflow-style: none;
}
